flows/clientserver.json
[
    {
        "id": "56645818.4ba65",
        "type": "tab",
        "label": "ClientServer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94ef89f0.b7ee5",
        "type": "websocket out",
        "z": "56645818.4ba65",
        "name": "",
        "server": "16ac7f04.bf4dd1",
        "client": "",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "912621a1.5562e",
        "type": "mqtt out",
        "z": "56645818.4ba65",
        "name": "",
        "topic": "/laborwoche/marc",
        "qos": "",
        "retain": "",
        "broker": "c821fdb7.f0133",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "5ca1ff43.a7e8a8",
        "type": "debug",
        "z": "56645818.4ba65",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 400,
        "wires": []
    },
    {
        "id": "d8f86fba.1cd59",
        "type": "serial in",
        "z": "56645818.4ba65",
        "d": true,
        "name": "",
        "serial": "bd7069e.d347118",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "e7b41c3a.befa1"
            ]
        ]
    },
    {
        "id": "e7b41c3a.befa1",
        "type": "function",
        "z": "56645818.4ba65",
        "name": "Color&Gesture",
        "func": "const data = msg.payload.split(',');\nconst payload = {};\npayload.r = parseFloat(data[0]);\npayload.g = parseFloat(data[1]);\npayload.b = parseFloat(data[2]);\npayload.gesture = data[3];\npayload.time = Date.now();\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 380,
        "wires": [
            [
                "5ca1ff43.a7e8a8",
                "912621a1.5562e",
                "94ef89f0.b7ee5"
            ]
        ]
    },
    {
        "id": "96ee6afc.b9e818",
        "type": "mqtt in",
        "z": "56645818.4ba65",
        "name": "",
        "topic": "/laborwoche/steve",
        "qos": "2",
        "datatype": "auto",
        "broker": "baa0a472.80fa58",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "94ef89f0.b7ee5"
            ]
        ]
    },
    {
        "id": "16ac7f04.bf4dd1",
        "type": "websocket-listener",
        "path": "/ws/recieve",
        "wholemsg": "false"
    },
    {
        "id": "c821fdb7.f0133",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.hfg.design",
        "port": "1883",
        "clientid": "node-red-marc",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "bd7069e.d347118",
        "type": "serial-port",
        "serialport": "/dev/tty.usbmodem14101",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "baa0a472.80fa58",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.hfg.design",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]